@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.trigger {
  padding: 21px;
  font-size: 20px;
}

input[type='file'].avatar-input {
  display: none;
}

.avatar-label {
  margin-top: 10px;
  display: inline-block;
  border: solid 2px #888;
  padding: 2px 15px;
  border-radius: 5px;
  color: #888;
}

.avatar-label:hover {
  color: #fff;
  background: #888;
}

.profile-wrapper {
  text-align: center;
}

.profile-image {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.login-form {
  max-width: 400px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.header-right {
  float: right;
}
